*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(21, 21, 21);
    color: rgb(240, 239, 255);
    margin: 0;
}

.prompt-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#prompt-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
}

#prompt-input{
    
}

#gen-script-btn{
    border-radius: 10px;
    background-color: #202060;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 120px;
    border-style: none;
    color: rgb(240, 239, 255);
}